jishaku
psutil
git+https://github.com/Rapptz/discord.py
PyNacl
aiosqlite
databases
databases[sqlite]
tabulate 
matplotlib
git+https://github.com/Rapptz/discord-ext-menus
babel
humanize
hentai
colorama
EZPaginator 
dpy-button-utils~=1.1.0
toml
git+https://github.com/PredaaA/Red-Lavalink@feature/dpy-voiceprotocol
