git+https://github.com/Voxel-Fox-Ltd/Novus
databases
pillow
psutil
jishaku
PyNacl
databases
git+https://github.com/6days9weeks/pomice
git+https://github.com/Rapptz/discord-ext-menus
humanize
hentai
colorama
toml
voxelbotutils
tabulate
