token=""
owner_ids = []
prefix = ""

#Colors
ok_color = "#ff91a4"
info_color = "#FFFF00"
error_color = "#b22222"

#Lavalink/Music credentials
ll_host = ""
ll_port = ""
ll_password = ""
spotify_client_id = ""
spotify_client_secret = ""